<div id="header" class="navbar-toggleable-md sticky header-md dark clearfix">
    <!-- TOP NAV -->
    <header id="topNav">
        <div class="container">
            <!-- Mobile Menu Button -->
            <button class="btn btn-mobile" class="submenu-dark" data-toggle="collapse" data-target=".nav-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <!-- Logo -->
            <a class="logo float-left scrollTo" href="#top">
                <img src="/assets/images/R2.png" alt="RocketElevatorsLogo" />
            </a>
            <div class="navbar-collapse collapse float-right nav-main-collapse submenu-dark">
                <nav class="nav-main">
                    <ul id="topMain" class="nav nav-pills nav-main nav-onepage">
                        <li><!-- HOME -->
                            <a href="index.html#home-nav">
                                HOME
                            </a>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" href="#services-nav">
                                SERVICES
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="residential.html">RESIDENTIAL</a></li>
                                <li><a href="commercial.html">COMMERCIAL</a></li>
                            </ul>
                        </li>
                        <li><!-- portfolio -->
                            <a href="index.html#portfolio-nav">
                                PORTFOLIO
                            </a>
                        </li>
                        <li><!-- news -->
                            <a href="index.html#news-nav">
                                NEWS
                            </a>
                        </li>
                        <li><!-- clients -->
                            <a href="index.html#clients-nav">
                                CLIENTS
                            </a>
                        </li>
                        <li><!-- CONTACT -->
                            <a href="index.html#contact-nav">
                                CONTACT
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    
    <!-- /END TOP NAV -->
</div>