<!-- Dark Title container -->
<section class="page-header dark">
	<div class="container text-center">
		<h1 class="fw-800 fs-60 font-lato">Commercial And Corporate</h1>
	</div>
</section>

<!-- -->
<section class="dark">
	<div class="container ">
		<div class="text-center">
			<h3 class="mb-0">Superior, Reliable Systems For Commercial Applications</h3>
			<small class="font-lato fs-22 mb-20 block">No matter your needs, we’re your go-to, expert elevator
				service provider.<br>
				Our commercial elevator services include:
			</small>
			<small class="font-lato fs-18 mb-0 block">
				Design and installation<br>
				Modernization<br>
				Maintenance<br>
				Repairs<br>
				Testing<br>
				Inspection<br>
				And make sure you're satisfied!
			</small>
		</div>
	</div>
</section>
<!-- / -->

<section>
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-4 border-right">
				<h3 class="text-center">New Construction</h3>
				<p class="text-center">We can do new construction,<br>
					Rocket Elevators helps architects for planning!</p>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 border-right">
				<h3 class="text-center">Modernization</h3>
				<p class="text-center">We are there to help you<br>
					modernize your work space!</p>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4">
				<h3 class="text-center">After-Sale Service</h3>
				<p class="text-center">We are simply the best at it.<br>
					Rapid and professional service 24/7</p>
			</div>

		</div>
	</div>
</section>

<section>
	<div class="container-fluid">
		<div id="txtR" class="text-center">
			<h3 class="mb-0">So What Are You Waiting For? </h3>
			<small class="font-lato fs-22 mb-20 block">Don't forget to check out our quote calculator!</small>
			<a class="btn btn-default btn-lg" href="quote.html">Click Here To Get A Quote! &nbsp;
			<i class="fa fa-angle-right"></i></a>
		</div>
		<div class="row">
			<div class="col-md-4">&nbsp;</div>
			<div class="col-md-4">&nbsp;</div>
			<div class="col-md-4">&nbsp;</div>
		</div>
		<div class="row">
			<div class="col-md-3">&nbsp;</div>
			<div class="col-md-6">&nbsp;</div>
			<div class="col-md-3">&nbsp;</div>
		</div>
		<div class="row">
			<div class="col-md-4">&nbsp;</div>
			<div class="col-md-4" id="rocket">
			<%= image_tag("R2.png", atl:"", class:"img-fluid")%>
			</div>
			<div class="col-md-4">&nbsp;</div>
		</div>
	</div>
</section>

<!--Testimonials section-->
<section id="testimonial" class="dark">
	<div class="container">
		<div class="owl-carousel text-center owl-mini-testimonial m-0"
			data-plugin-options='{"singleItem": true, "autoPlay": 5000, "navigation": false, "pagination": true, "transitionStyle":"fade"}'>
			<div class="testimonial">
				<figure>
					<%= image_tag("testimonial/stairLiftElder-logo.jpg", atl:"", class:"rounded-circle")%>
				</figure>
				<!--Dorothy testimonial (she's the best)-->
				<div class="testimonial-content p-0">
					<p>I loved my experience at Rocket Elevators! The salesman was really nice and helpful! <br>
						Would recommend to a friend! </p>
					<cite>
						Dorothy R.
					</cite>
				</div>
			</div>
			<div class="testimonial">
				<figure>
				<%= image_tag("testimonial/vrTestimonial-logo.jpg", atl:"", class:"rounded-circle")%>
				</figure>
				<!--Jack H's testimonial (he's the crazy type)-->
				<div class="testimonial-content p-0">
					<p>Reached out to Rocket Elevators for a commercial projet and they did amazing!<br>
						Couldn't be happier!
					</p>
					<cite>
						Jack H.
						<span>Unity Technologies.</span>
					</cite>
				</div>
			</div>
		</div>
	</div>
</section>