<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Rocket Elevators</title>
		<meta name="description" content="Rocket Elevators" />
		<meta name="Author" content="Tommy C." />

		<!-- mobile settings -->
		<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

		<!-- WEB FONTS : use %7C instead of | (pipe) -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600%7CRaleway:300,400,500,600,700%7CLato:300,400,400italic,600,700" rel="stylesheet" type="text/css" />

		<!-- CORE CSS -->
		<link href="/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

		<!-- REVOLUTION SLIDER -->
		<link href="/assets/plugins/slider.revolution/css/extralayers.css" rel="stylesheet" type="text/css" />
		<link href="/assets/plugins/slider.revolution/css/settings.css" rel="stylesheet" type="text/css" />

		<!-- THEME CSS -->
		<link href="/assets/css/essentials.css" rel="stylesheet" type="text/css" />
		<link href="/assets/css/layout.css" rel="stylesheet" type="text/css" />
		<link href="/assets/css/layout-dark.css" rel="stylesheet" type="text/css" />

		<!-- PAGE LEVEL SCRIPTS -->
		<link href="/assets/css/header-1.css" rel="stylesheet" type="text/css" />
		<link href="/assets/css/color_scheme/lightgrey.css" rel="stylesheet" type="text/css" id="color_scheme" />

		<!--Favicon need to make it prettier-->
		<link href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAAHgAAAB4CAYAAAA5ZDbSAAAABGdBTUEAALGPC/xhBQAAAAFzUkdC
		AK7OHOkAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAAAZiS0dE
		AP8A/wD/oL2nkwAAAAlwSFlzAAAuIwAALiMBeKU/dgAADbBJREFUeNrtnXlsHNUdxz9vdm0nMcG5
		OUIJ4ILjXDgJCUm40jRJQwQFcpCWG5FeokqRqrZSq6qiVUWrqqpKOYSIUKgQV5xAW06n5GiJE+cg
		R4NJICeBAIGQA8fX7r5f//jt2utrHdsz9nh2vtLYq9nZ2bfzfb/j/d7M9xl6EfIXL2tttwEKgDHA
		DGAk8HPgI4DTS+9pOFBG3Z16+QAwAXgF2Jw8NtbixJVP9/RP7jKiPd2A9tAGqQ4wBBgFXJvcxgDD
		gL3J9zPhHOBOYB5wANgIrAU2AYeBWmjSIYDeSbgvCW6D1BzgXKAE+AZwFVAEnI1acQrSka9CO8YY
		4C7gY2ArsAbYgHaWqtQ50wnvLWT7kuA05AEjgMkoqVOAi4G+HnxXbvLcF6OWfRTYCawD/gNUAsdp
		hWzwL+E9RnAbVgrQH/g6MA2YDkwEhqMEdBcc1FucC8wCTgDvAW+jhG9HO0C8my9bh9FtBGcg1AEG
		ovH0GjSeXg4MBSI9e3kAdf8D0Q43Dbgf2Ie68KXAlp5uYCZ0G8GpbDZJdBRNdC4HrkOJLUazYdOZ
		83cj8oFxye0Q2UZwBkvNAy4AJqGudypQiF6wEB7BNYLbIDYfJXEKmiRNAr5G98bTrEanCc4wPi1A
		iw1Xo5Zago5Pezxjlw6NoIKBM77oGVxvBE2IxtEYT0cBg/BZPBXxL8Gxkbc1vI7m9Wl4bXY81aXz
		ZiQ4A6m56NBlAup6p6FDm7PwGanpsD4mOK34Fk3U1ScAsUD9yDsajsjd/UyHz9qC4Ayk9kWLAOnx
		dATQh14DPxMsYDE4LBIoEq2m7TLIMcDiCLFR30U7gpBT+ewZnTUKGUktQMuBV6HudwJwHj6Ip527
		hP4lWJBUA0cBvxT4CbBHhLcxrMOyzRiOiNh4QizVRYsaPttvzwttnjfajNwIMBitzV6LxtOxyX3t
		FfB9Dz+7aCuSMs4Uzka95CSEHwAHRXRSxMHZJMghx8RrhQj1xXeQkHhDjpFOeDS5nQ+MR630ahqL
		+IGC7wluA8bQD7XsUegs2MfAVmuja8RIuZXY3giJqoREBKC2aCF99iwHlNxHUVK9KuL7CP4lOFPb
		mnGfA1yU3G4W4QtgexznQZANYEhIY54bBW5BhzmBh/UxwZ1sWwQt+c4EngfZYGjaVaKA7ekf123w
		sYvuYtuE1DQmlvSRaq/MhjsL6+O+7G7bGjtLVhEcXANuG9lFsI9jsFdtyyqCe+swqSvIKoJDCw44
		xMdJlldtyy6CfeyivWpbVhEcxuCAI4zBAUdIcMARxuCAI7TggCO04IAjgNOF7SKrCA4tOOAILTjw
		8C/BXrUtqwgW8XEt2qO2ZRXBYaky4PAvvd61LcsI9i/FYaHDBVgfx2Cv2pZVBPvYgD1rW1YRHN7R
		EXCEhY6AIyxVBhyhBXuDL1GFuAPo46mj6CGVndCC3UMcJfQ1YCXwDlCNPoc8A1iA6noM9uj724B/
		Ce4tteivUOW3l4DXgYM01XP8CPg7SvoEYD4wB7jEg7a0QFiq7GTb0CfOy1DiNqCqrJlQhSq4lgN/
		Q0m+BZUs6O/JLyWsZHUGnwGPAP8A9gD16W+mq62nI00XJI5qMj8CPIPKG96Lyvm6LkTqVZwzBrYM
		m8gVR7d26vObh01MibCAy766qwRXAn8BTqfvPL30HvIXL8uk3tMaTqBuvRa4HtXcchUeZKpRiSQw
		8QjWCJuGjW94DnTy59szfnDz0BK2jB7NxMpKxAjWAmIMjrgaqtxQzml4nLyZomz6+0OAy2hDU6uZ
		pXvmR0XE7e12Es6vxNhxRiQXEWy0D2CoGFpCxdCSFm1I7RdjlFwRsDZPjIwXx/5GRBa40bYUXO0t
		zYiNosnTXDRrvhCNuy8C69Hhk7TyOc/gQZwrRPgt8COQMjClJla7wVo5joHcHNgwdCymPhfpEwcr
		WAQjIFaMMWYQhqsEWYAwE9XbSLjZQC8y15S+03zU1Z6Pxtn3gG+hydQ2NCF7Lfletyinux6DDctQ
		zeh5wB0g3wE2EWGFiLxRG5cDYOJTT26Fk1A+ZBwgOUChccxcQeahivYOyE404SxGuNOtJrqVRTuo
		TPBM4FZU7tCgGfXvgVXAMWA0cDNwE/AQsASNu8vR4dUpdxloCtctWNgXkegfEk78KYTpqKe6DuEa
		GusAK8qHjH0neT2uAFkA5noRuRD1Yv8CSjGsq5eaz3Lp+zs3m9hVgnNQMmehpBUCnwDPAqXomkSn
		oCHxqkjuexyYDSwEbgduAyqA52iWibsJD5Ks/tapiyLmSA65z8Yl9jKYEjFyC/Bt4H6Qu9CO7oBM
		BfoJ8j7wJyPmJZAdBlNrEaLk5lnE1WFiVwkuQa2vD+p2n0R77X4aF5rqD0zKX7xsBDru3Qd8iK53
		8CJwBerO5wKPASfxSJDNg2HSfQjnAaV11G0Ee9wxTrmBCot5DJiNMB/V+rTAegzLgbccIx8JJKxY
		A85gI2YasBBkjpsNdMNFvwm8gNabjyX3pVz2N1GXfRU67DmEdoBSdH2iU8BqNPn6Kxqzb0cFxF2H
		B0lWHLgJ5Fb9PWa5FXldDAcRORAh+oQV+zzIRCAB5h2ErzCWOESNcBmYucACQcYD1SCuerCuErwN
		XYUkVbnqiwqD34S6qCJ0XJuy3OnAD1G9xfUo0f9GS5jvJ7c9yf2ur+XgwaT6U2DeABaA3IjwZ+AB
		hFeAlXFi2/rGoiercxOrQTin6iyO5p8+2wgTEeaLeq3zQQ5izKPASo3R/NStBnaV4BgaM4ei5C1E
		taQHoUvELQVWoHG3CrXqWXpBuDr5+n3gn8DLaIepxqOxsAeFrBqQcsFUGHgUYTaGhcB9AncbpLw6
		J/YiwmrAfJZfNcvAQouZmiweVCA8hGGVCIcdQ0KEG9xsYFcJHgL8DHWtJWic2YaS+ipqtemLPh5E
		4/QLNA6l5gK/AL6HZtuH8Ei62Ksb2/o40USVie2b9esPHl/74MjngMkCCxGZIxqm9id/08XAp2Ia
		k9Di4xNO7Rq8hXzTl5pELbismN9VglPr/h1Fk61S1PV+QWYrPAW8hcbeh1GS56OuPc/tH5mCVwX9
		Ghsjz0RZ92AxAicstsyIWWtFLgVuwJibgQQiT4rhVSNmnzUSc3DYPWgbuRKh2tZ40rauEnwMeAIt
		WlQCdc0PaG3CIa1yFQN2J7en0WTsXuBGPJhs8GJKziT/1NkIs07sYs3AomTvlHpxnHcxphKbWAoI
		kchxRMQABoMgTP9yN6sGjMEx8VQI8dVkw7vAH9H42gRtzSSlv9esRHkMjcVfoQUT1ycbPAjtURGL
		SBRMDWUFhcRsnNkn97F6YBFGtCZJanRhE4BBgBnH91BWUEhZQSHG1GKtARMxhrir1cWunqzJFctE
		amtIPz6NbE8nG1zGIsFUQ/w1xNkrJhETgTcLLgEEK5aZJ/Y2+cCqAYUghrIBhY0KszaSA4kixN6A
		VvpcQ3jTXdcwGvVgPwZbhphSA5sEORmzWl5XsnXOGDQPcBKGA8OPMuLToQOAqYKdD8wGGS4uJ5hZ
		RbAnSZYQwXAR8H1gEUIFhhWCrBKRD4EECIghqcYetREZceGnQ+aIyDxM2l0sguvpZXYR7NU9WY2n
		LUDLkzOAD4BXBV4Gsw0wAhMNzBOR69G6faRFn3O5iVlFcDfedBfFUIyu4XiPEdYDETFME12L2HTX
		7WFZRXC33jarX2WAIaLj+x65azerCPbzXZVeIasI9vN90V4hqwj286MrXiGrCPbzw2deIasIDmNw
		0BG66GAjdNEBh5+V7rxCVhGcffRmGcHhMCngCLPogCMkOOAIXXTAEWbRAUc4Dg44whgccIQxOOAI
		LTjgCC044AiTrIAjtOCAI4zBAUdIcMARuuiAIyQ44LBZOOWfVQSHMTjgCF10wJF99HokVxTCPwgJ
		DjhCggOOkOCAw8EjVbkQ3Y5WeXTQFVOyrwIQLNTRisog6DDpXlSUeyowFrgAlQUOLdu/SACfo+td
		bEYV5de2dmAUWJfc8oDzUGWYK4HJqNDXObSxHE6IboNF15Xaj6r5lgPbUfXeUzTzwEvSXqcXOuqS
		HziIqrj3A4ajVj0Flf+9DJUQzunpXxxwCKr/eQjYiVroVlSe+UvaWKVmSSv7os31JZOakYLG5pQK
		+0p0uZwRqC70VJTwE2RngcgLVANHgF3oAiWbUPX7ozTV3G6CJe2ctEWpMoNA6Em0N+1EV1UZCAxA
		JftDdBx1KHm7UTI3opLMnwCtike3R2ZryFiLbsO6QV3E58mt1WNDtEACFUr/AHW3G1BjOUwrcszQ
		OUKbo0OTDSGJHYJFvV4qMdqQ/H8QTYxaXcLODVLTkVWzSR4jlbekEqON6Gpue1FB8ITb5J0J/Eiw
		ofeMwWvQxOhdNDGqoDExarH+0cPJ/91JtB8JPo5esGJU1t9PZNeji2LvQQsMG5Nt/QTNglugJ6w2
		HX4k+H/oCqVFNBZcxqBj8n7d3JYE6l5TidFGYAeNiZH0NIHtwY8EJ1C3dwRYg5ZNz0Wralei4+9i
		tMKW5/J3pydGO2hMjPbTRmL0MD1vpZngG4IzZOg1wIH8xcsOAK+gbvsCdAm9Kej6u5fSWGHriEu3
		qCUeRhOjTajrTSVGcT+TdybwDcGZ0Gz5nSoa11oqRYstl6LWPQNdVq891KKW+RbwXzQsHKGVGRm/
		W2h7+D8Q6qH1imBJUgAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAyMS0wMS0xMVQyMToyMjowMi0wNTow
		MPPhrmoAAAAldEVYdGRhdGU6bW9kaWZ5ADIwMjEtMDEtMTFUMjE6MjI6MDEtMDU6MDCzVAxLAAAA
		AElFTkSuQmCC" rel="icon" type="image/x-icon" />
	</head>

	<body>
		<!--SLIDERS-->
		<section id="sliders"> 
			<a id="home-nav" class="hidden-anchor"></a>
			<div class="slider fullwidthbanner-container roundedcorners">
				<div class="fullwidthbanner" data-height="600" data-shadow="0" data-navigationStyle="preview2">
					<ul class="hide">
						<!-- SLIDE  -->
						<li data-transition="parallaxtobottom" data-slotamount="7" data-masterspeed="600"  data-saveperformance="off"  data-title="Let's Rise Together!">
							<!-- MAIN IMAGE -->
							<img src="/assets/images/slide1.jpeg"  alt="elevator cover image"  data-bgposition="center" data-bgfit="cover" data-bgrepeat="no-repeat">
							<div class="tp-caption white_big skewfromleft tp-resizeme"
								data-x="100"
								data-y="100"
								data-speed="400"
								data-start="1500"
								data-easing="Power3.easeInOut"
								data-splitin="words"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="600"
								style="z-index: 2; color:#fff; font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:1px 1px 2px black;">
									Rocket Elevators
							</div>
							<div class="tp-caption content_text_center skewfromleft tp-resizeme"
								data-x="200"
								data-y="195"
								data-speed="500"
								data-start="2000"
								data-easing="Power3.easeInOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="600"
								style="z-index: 3; font-size:35px; color:#fff; font-weight:normal; text-shadow:1px 1px 2px black;">
									The elevator of a new generation!
							</div>
								<div class="tp-caption sfb tp-resizeme"
								data-x="600"
								data-y="300"
								data-speed="500"
								data-start="2500"
								data-easing="Power3.easeIn"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="1"
								data-endelementdelay="0.1"
								data-endspeed="300"
								style="z-index: 4; max-width: auto;">
								<a class="btn btn-dark btn-lg hidden-lg-down" href="#portfolio">OUR SERVICES &nbsp;<i class="fa fa-angle-right"></i></a>
							</div>
							<div class="tp-caption sfb tp-resizeme"
								data-x="800"
								data-y="300"
								data-speed="500"
								data-start="2500"
								data-easing="Power3.easeInOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 6; max-width: auto; max-height: auto; white-space: nowrap;">
									<a class="btn btn-dark btn-lg hidden-lg-down" href="quote.html">GET A QUOTE &nbsp;<i class="fa fa-angle-right"></i></a>
							</div>
						</li>
						<!-- SLIDE  -->
						<li data-transition="parallaxtotop" data-slotamount="7" data-masterspeed="300"  data-saveperformance="off" data-title="Rocket - Be Ready.">
							<!-- MAIN IMAGE -->
							<img src="/assets/images/slide2.jpeg" alt="elevator cover image"  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
							<div class="overlay dark-4"><!-- dark overlay [0 to 9 opacity] --></div>
							<div class="tp-caption font-roboto skewfromleft tp-resizeme"
								data-x="25"
								data-y="100"
								data-speed="500"
								data-start="1500"
								data-easing="Cubic.easeOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 2; color:#fff; font-size:50px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:1px 1px 2px black;">
									Residential building elevators
							</div>
							<div class="tp-caption skewfromrightshort tp-resizeme"
								data-x="75"
								data-y="200"
								data-speed="500"
								data-start="1000"
								data-easing="easeInCirc"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 3; font-size:20px; color:#fff; font-weight:normal; text-shadow:1px 1px 2px black;">
									You heard it right! <br />
									Rocket Elevators also does residential installation!
							</div>
							<div class="tp-caption skewfromleft tp-resizeme  un-button-2-lg"
								data-x="665"
								data-y="300"
								data-speed="500"
								data-start="2500"
								data-easing="Power3.easeInOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">
									<a class="btn btn-dark btn-lg hidden-lg-down" href="residential.html">RESIDENTIAL SERVICES &nbsp; <i class="fa fa-angle-right"></i></a>
							</div>
						</li>
						<!-- SLIDE  -->
						<li data-transition="parallaxtotop" data-slotamount="7" data-masterspeed="300"  data-saveperformance="off" data-title="Rocket - be ready.">
							<!-- MAIN IMAGE -->
							<img src="/assets/images/slide3.jpeg" alt="elevator cover image"  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
							<div class="overlay dark-4"><!-- dark overlay [0 to 9 opacity] --></div>
							<div class="tp-caption skewfromrightshort tp-resizeme"
								data-x="25"
								data-y="120"
								data-speed="500"
								data-start="1000"
								data-easing="easeInCirc"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 3; font-size:45px; color:#fff; font-weight:normal; text-shadow:1px 1px 2px black;">
									Rocket Elevators also provides service <br>
									for all your corporation building needs!
							</div>
							<div class="tp-caption skewfromleft tp-resizeme  un-button-2-lg"
								data-x="665"
								data-y="300"
								data-speed="300"
								data-start="2500"
								data-easing="Power3.easeInOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="300"
								style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">
									<a class="btn btn-dark btn-lg hidden-lg-down" href="commercial.html">CORPORATION SERVICES &nbsp; <i class="fa fa-angle-right"></i></a>
							</div>
						</li>
					</ul>
				</div>
			</div>

		</section>
		<!-- /SLIDER -->

		<!---->
		<section class="hidden-lg-up">
			<a class="btn btn-xlg btn-primary fs-20 fullwidth m-0 rad-0 p-15" href="#portfolio">OUR SERVICES &nbsp;<i class="fa fa-angle-right"></i></a>
			<hr class="m-0" /><!-- 1px line separator -->
			<a class="btn btn-xlg btn-primary fs-20 fullwidth m-0 rad-0 p-15" href="quote.html">GET A QUOTE &nbsp;<i class="fa fa-angle-right"></i></a>
			<hr class="m-0" /><!-- 1px line separator -->
			<a class="btn btn-xlg btn-primary fs-20 fullwidth m-0 rad-0 p-15" href="residential.html">RESIDENTIAL SERVICES &nbsp; <i class="fa fa-angle-right"></i></a>
			<hr class="m-0" /><!-- 1px line separator -->
			<a class="btn btn-xlg btn-primary fs-20 fullwidth m-0 rad-0 p-15" href="commercial.html">CORPORATION SERVICES &nbsp; <i class="fa fa-angle-right"></i></a>
		</section>
		<!---->

		<hr class="m-0" /><!-- 1px line separator -->

		<!--Contact US link-->
		<a href="#contact" class="btn btn-xlg btn-primary fs-20 fullwidth m-0 rad-0 p-40">
			<span class="font-lato fs-40">
				When you rise, we shine.
				<strong>Contact us &raquo;</strong>
			</span>
		</a>
		<!-- /contactUs -->
		
		<!-- Services -->
		<section id="services">
			<a id="services-nav" class="hidden-anchor"></a>
			<div class="container">
				<h1 class="text-center bold font-lato">Our Available Services</h1>
				<div class="row">
					<div class="col-sm-4 fs-20 text-center">
						<p>Rocket Elevators has participated <br>in many projects and won <br>numerous awards.</p>
						<a href="#portfolio" class="btn btn-lg btn-dark">Our Portfolio</a>
					</div>
					<div class="col-sm-4 fs-20 text-center">
						<p>Rocket Elevators offers a service for residential building<br> </br> </p>
						<a href="residential.html" class="btn btn-lg btn-dark">Residential Services</a>
					</div>
					<div class="col-sm-4 fs-20 text-center">
						<p>Rocket Elevators also offers a service for corporate buildings<br> </br> </p>
						<a href="commercial.html" class="btn btn-lg btn-dark">Corporate Services</a>
					</div>

				</div>
			</div>
		</section>
		<!-- /Services -->
		
		<!-- Parallax / Ribbon / inbusiness -->
		<section class="parallax parallax-1" style="background-image: url('/assets/images/elevatorParallax.jpeg');">
			<div class="overlay dark-5"></div>
			<div class="container">
				<div class="text-center">
					<h2 class="fs-40 fw-300">In Business Since 1976</h2>
					<a class="btn btn-dark btn-lg" href="quote.html">REQUEST A QUOTE <i class="fa fa-angle-right"></i></a>
					&nbsp; OR &nbsp;
					<a class="btn btn-dark btn-lg" href="#contact">CONTACT US <i class="fa fa-angle-right"></i></a>
				</div>
			</div>
		</section>
		<!-- /Parallax -->
		
		<!-- PORTFOLIO -->
		<section id="portfolio"> 
			<div class="container">
				<div class="heading-title heading-dotted text-center">
					<h2>Major Projects And Awards</h2>
				</div>
				<div id="portfolio-nav" class="portfolio-nogutter hidden-anchor"></div>
					<div class="row mix-grid">

						<div class="col-md-3 col-sm-3 mix "><!-- item -->
							<div class="item-box">
								<figure>
									<span class="item-hover">
										<span class="overlay dark-5"></span>
										<span class="inner">
											<!-- lightbox -->
											<a class="lightbox ico-light ico-hover" href="/assets/images/projects/ropelessElevator.jpg" data-plugin-options='{"type":"image"}'>
											<span class="fa et-magnifying-glass fs-40"></span>
											</a>
										</span>
									</span>
									<img class="img-fluid" src="/assets/images/projects/ropelessElevator.jpg" width="600" height="300" alt="">
								</figure>
								<hr /> <!--separator-->
								<ul class="list-inline categories m-0 text-center">
									<h2>World's First Vertical And <br>Horizontal Rope-Less Elevator</h2>
								</ul>
							</div>
						</div><!-- /item -->

						<div class="col-md-3 col-sm-3 mix "><!-- item -->
							<div class="item-box">
								<figure>
									<span class="item-hover">
										<span class="overlay dark-5"></span>
										<span class="inner">
											<!-- lightbox -->
											<a class="lightbox ico-light ico-hover" href="/assets/images/projects/residentialelevator.jpg" data-plugin-options='{"type":"image"}'>
											<span class="fa et-magnifying-glass fs-40"></span>
											</a>
										</span>
									</span>
									<img class="img-fluid " src="/assets/images/projects/residentialelevator.jpg"  alt="">
								</figure>
								<hr /> <!--separator-->
								<ul class="list-inline categories m-0 text-center">
									<h2>Rocket Elevators's Latest Residential Elevator Model</h2>
								</ul>
							</div>
						</div><!-- /item -->

						<div class="col-md-3 col-sm-3 mix "><!-- item -->
							<div class="item-box">
								<figure>
									<span class="item-hover">
										<span class="overlay dark-5"></span>
										<span class="inner">
										<a class="lightbox ico-light ico-hover" href="/assets/images/projects/fastestDouble.jpg" data-plugin-options='{"type":"image"}'>
											<span class="fa et-magnifying-glass fs-40"></span>
										</a>
										</span>
									</span>
									<img class="img-fluid" src="/assets/images/projects/fastestDouble.jpg"  alt="">
								</figure>
								<hr /> <!--separator-->
								<ul class="list-inline categories m-0 text-center">
									<h2>Corporate Building Elevator <br>By Rocket Elevators</h2>
								</ul>
							</div>
							<!--"spacer" Need to rework it-->
							<div class=item-box-desc></div>
						</div><!-- /item -->

						<div class="col-md-3 col-sm-3 mix "><!-- item -->
							<div class="item-box">
								<figure>
									<span class="item-hover">
										<span class="overlay dark-5"></span>
										<span class="inner">
											<!-- lightbox -->
											<a class="lightbox ico-light ico-hover" href="/assets/images/projects/boatLift.jpg" data-plugin-options='{"type":"image"}'>
											<span class="fa et-magnifying-glass fs-40"></span>
											</a>
										</span>
									</span>
									<img class="img-fluid" src="/assets/images/projects/boatLift.jpg" alt="">
								</figure>
								<hr /> <!--separator-->
								<ul class="list-inline categories m-0 text-center">
									<h2>First Boat Elevator <br> Made By Rocket Elevators</h2>
								</ul>
							</div>
						</div><!-- /item -->

						<div class="col-md-3 col-sm-3 mix "><!-- item -->
							<div class="item-box">
								<figure>
									<span class="item-hover">
										<span class="overlay dark-5"></span>
										<span class="inner">
											<!-- lightbox -->
											<a class="lightbox ico-light ico-hover" href="/assets/images/projects/pillsElevator.jpg" data-plugin-options='{"type":"image"}'>
											<span class="fa et-magnifying-glass fs-40"></span>
											</a>
										</span>
									</span>
									<img class="img-fluid" src="/assets/images/projects/pillsElevator.jpg"  alt="">
								</figure>
								<hr /> <!--separator-->
								<ul class="list-inline categories m-0 text-center">
									<h2>Custom Commercial Elevator<br> By Rocket Elevators</h2>
								</ul>
							</div>
						</div><!-- /item -->

						<div class="col-md-3 col-sm-3 mix "><!-- item -->
							<div class="item-box">
								<figure>
									<span class="item-hover">
										<span class="overlay dark-5"></span>
										<span class="inner">
											<!-- lightbox -->
											<a class="lightbox ico-light ico-hover" href="/assets/images/projects/dogelevator.jpg" data-plugin-options='{"type":"image"}'>
											<span class="fa et-magnifying-glass fs-40"></span>
											</a>
										</span>
									</span>
									<img class="img-fluid" src="/assets/images/projects/dogelevator.jpg" alt="">
								</figure>
								<hr /> <!--separator-->
								<ul class="list-inline categories m-0 text-center">
									<h2>Custom Pet Elevator <br>By Rocket Elevators</h2>
								</ul>
							</div>
						</div><!-- /item -->

						<div class="col-md-3 col-sm-3 mix "><!-- item -->
							<div class="item-box">
								<figure>
									<span class="item-hover">
										<span class="overlay dark-5"></span>
										<span class="inner">
											<!-- lightbox -->
											<a class="lightbox ico-light ico-hover" href="/assets/images/projects/stairlift.jpg" data-plugin-options='{"type":"image"}'>
											<span class="fa et-magnifying-glass fs-40"></span>
											</a>
										</span>
									</span>
									<img class="img-fluid" src="/assets/images/projects/stairlift.jpg" alt="">
								</figure>
								<hr /> <!--separator-->
								<ul class="list-inline categories m-0 text-center">
									<h2>Residential Stair Lift <br> By Rocket Elevators</h2>
								</ul>
							</div>
						</div><!-- /item -->

						<div class="col-md-3 col-sm-3 mix "><!-- item -->
							<div class="item-box">
								<figure>
									<span class="item-hover">
										<span class="overlay dark-5"></span>
										<span class="inner">
											<!-- lightbox -->
											<a class="lightbox ico-light ico-hover" href="/assets/images/projects/tallestElevator.jpg" data-plugin-options='{"type":"image"}'>
												<span class="fa et-magnifying-glass fs-40"></span>
											</a>
										</span>
									</span>
									<img class="img-fluid" src="/assets/images/projects/tallestElevator.jpg" alt="">
								</figure>
								<hr /> <!--separator-->
								<ul class="list-inline categories m-0 text-center">
									<h2>Tallest Elevator In The World <br> Made By Rocket Elevators</h2>
								</ul>
								<!--
								<ul class="list-inline categories m-0 ">
									<h6>It sits at 326 metres tall<br>
										And the ride takes about a minute and a half.</h6>
								</ul>
								-->
							</div>
							<!--"spacer" I feel bad for using it now...-->
							<div class=item-box-desc></div>
						</div><!-- /item -->

						<div class="col-md-3 col-sm-4 mix "><!-- item -->
							<div class="item-box">
								<figure>
									<span class="item-hover">
										<span class="overlay dark-5"></span>
										<span class="inner">
											<!-- lightbox -->
											<a class="lightbox ico-light ico-hover" href="/assets/images/awards/safetyAward.jpg" data-plugin-options='{"type":"image"}'>
											<span class="fa et-magnifying-glass fs-40"></span>
											</a>
										</span>
									</span>
									<img class="img-fluid" src="/assets/images/awards/safetyAward.jpg" alt="">
								</figure>
								<hr /> <!--separator-->
									<ul class="list-inline categories m-0 text-center">
										<h2>2019 Health & Safety Finalist Award</h2>
									</ul>
							</div>
						</div><!-- /item -->

						<div class="col-md-3 col-sm- mix "><!-- item -->
							<div class="item-box">
								<figure>
									<span class="item-hover">
										<span class="overlay dark-5"></span>
										<span class="inner">
											<!-- lightbox -->
											<a class="lightbox ico-light ico-hover" href="/assets/images/awards/sammyAward.png" data-plugin-options='{"type":"image"}'>
											<span class="fa et-magnifying-glass fs-40"></span>
											</a>
										</span>
									</span>
									<img class="img-fluid" src="/assets/images/awards/sammyAward.png" alt="">
								</figure>
								<hr /> <!--separator-->
									<ul class="list-inline categories m-0 text-center">
										<h2>2020 Sammy Technology Award</h2>
									</ul>
							</div>
						</div><!-- /item -->

						<div class="col-md-3 col-sm-3 mix "><!-- item -->
							<div class="item-box">
								<figure>
									<span class="item-hover">
										<span class="overlay dark-5"></span>
										<span class="inner">
											<!-- lightbox -->
											<a class="lightbox ico-light ico-hover" href="/assets/images/awards/votedBest-logo.png" data-plugin-options='{"type":"image"}'>
											<span class="fa et-magnifying-glass fs-40"></span>
											</a>
										</span>
									</span>
									<img class="img-fluid" src="/assets/images/awards/votedBest-logo.png" alt="">
								</figure>
								<hr /> <!--separator-->
								<ul class="list-inline categories m-0 text-center">
									<h2>Voted Best Company <br>Of The Year In 2018</h2>
								</ul>
							</div>
						</div><!-- /item -->

						<div class="col-md-3 col-sm-3 mix "><!-- item -->
							<div class="item-box">
								<figure>
									<span class="item-hover">
										<span class="overlay dark-5"></span>
										<span class="inner">
											<!-- lightbox -->
											<a class="lightbox ico-light ico-hover" href="/assets/images/CEO.jpg" data-plugin-options='{"type":"image"}'>
												<span class="fa et-magnifying-glass fs-40"></span>
											</a>
										</span>
									</span>
									<img class="img-fluid " src="/assets/images/awards/bestCEO-logo.png" alt="">
								</figure>
								<hr /> <!--separator-->
								<ul class="list-inline categories m-0 text-center">
									<h2>David Won The 2019 <br>Best CEO Of The Year Award</h2>
								</ul>
								<div class=item-box-desc></div>
							</div>
						</div><!-- /item -->

					</div>
				</div>
			</div>
		</section>
		<!-- /PORTFOLIO -->
		
		<!-- Employee -->
		<section id="team" class="section-xs dark"> 
			<div class="container">
				<div class="owl-carousel text-center owl-testimonial m-0" data-plugin-options='{"singleItem": true, "autoPlay": 3500, "navigation": false, "pagination": true, "transitionStyle":"fade"}'>
					<div id="CEO">
						<figure>
							<img class="rounded" src="/assets/images/CEO.jpg" weight=300px height=300px alt="" />
						</figure>
						<div>
							<p>David</p>
							<cite>CEO Of Rocket Elevators</cite>
						</div>
					</div>
					<div id="employee">
						<figure>
							<img class="rounded" src="/assets/images/employee-of-the-monthTC.jpg" weight=300px height=300px alt="" />
						</figure>
						<div>
							<p>Tommy C.</p>
							<cite>Employee Of The Month</cite>
						</div>
					</div>
					<div id="employee">
						<figure>
							<img class="rounded" src="/assets/images/employee-of-the-monthDG.jpg" weight=300px height=300px alt="" />
						</figure>
						<div>
							<p>Daniella G.</p>
							<cite>Team Leader</cite>
						</div>
					</div>
					<div id="employee">
						<figure>
							<img class="rounded" src="/assets/images/employee-of-the-monthEGL.jpg" weight=300px height=300px alt="" />
						</figure>
						<div>
							<p>Etienne G.L.</p>
							<cite>Employee</cite>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- /Employee -->
		
		
		<!-- News -->
		<section id="news">
			<div class="container">
				<div class=" heading-title heading-dotted text-center">
					<h2>Recent News</h2>
				</div>
				<a id="news-nav" class="hidden-anchor-news"></a>
				<div class="owl-carousel owl-padding-10 buttons-autohide controlls-over" data-plugin-options='{"singleItem": false, "items":"3", "autoPlay": 4000, "navigation": true, "pagination": false}'>

					<div class="img-hover">
						<a href="https://www.theglobeandmail.com/news/national/elevator-sales-rise-as-canadians-ditch-the-stairs-at-home/article9707148/" target="_blank">
							<img class="img-fluid" src="https://www.theglobeandmail.com/resizer/pmWqAOcWfgChu_yUD5hUuzbWkso=/620x0/filters:quality(80)/arc-anglerfish-tgam-prod-tgam.s3.amazonaws.com/public/7PKK3GIY65DGXKNVAGSIPFFLCE" alt="">
						</a>
						<h4 class="text-left mt-20"><a href="https://www.theglobeandmail.com/news/national/elevator-sales-rise-as-canadians-ditch-the-stairs-at-home/article9707148/" target="_blank">Elevator Sales Rise</a></h4>
						<p class="text-left">Elevator sales rise as Canadians ditch the stairs at home.</p>
						<ul class="text-left fs-12 list-inline list-separator">
							<li>
								<i class="fa fa-calendar"></i>
								29th Nov 2020
							</li>
						</ul>
					</div>

					<div class="img-hover">
						<a href="https://elevatortoday.com/2014/05/02/hyundai-elevator-called-foot/" target="_blank">
							<img class="img-fluid" src="/assets/images/news/touchless-logo.png" alt="">
						</a>
						<h4 class="text-left mt-20"><a href="https://elevatortoday.com/2014/05/02/hyundai-elevator-called-foot/" target="_blank">Touchless Footbutton</a></h4>
						<p class="text-left">The “touchless foot button” system works when sensors pick up foot movement near the elevator’s door and summons the lift to the specific floor without the need to push a button with one’s fingers.</p>
						<ul class="text-left fs-12 list-inline list-separator">
							<li>
								<i class="fa fa-calendar"></i>
								20th May 2020
							</li>
						</ul>
					</div>

					<div class="img-hover">
						<a href="https://elevatortoday.com/2012/10/13/mezolift-first-solar-elevator/" target="_blank">
							<img class="img-fluid" src="/assets/images/news/solarElevator-logo.jpg" alt="">
						</a>
						<h4 class="text-left mt-20"><a href="https://elevatortoday.com/2012/10/13/mezolift-first-solar-elevator/" target="_blank">Solar Elevator</a></h4>
						<p class="text-left">The elevator consumes 80% less energy than common lifts. <br>
							It works with 2 photovoltaic panels and 2 rechargeable batteries</p>
						<ul class="text-left fs-12 list-inline list-separator">
							<li>
								<i class="fa fa-calendar"></i>
								14th Apr 2020
							</li>
						</ul>
					</div>

					<div class="img-hover">
						<a href="https://elevatortoday.com/2018/01/18/magic-mirror-for-elevators/" target="_blank">
							<img class="img-fluid" src="/assets/images/news/magicMirror-logo.jpg" alt="">
						</a>
						<h4 class="text-left mt-20"><a href="https://elevatortoday.com/2018/01/18/magic-mirror-for-elevators/" target="_blank">Magic Mirror For Elevators</a></h4>
						<p class="text-left">This product is able to transform a common elevator interior mirror into a full interactive touch-screen & internet-connected video screen.</p>
						<ul class="text-left fs-12 list-inline list-separator">
							<li>
								<i class="fa fa-calendar"></i>
								18th Mar 2020
							</li>
						</ul>
					</div>

					<div class="img-hover">
						<a href="https://elevatortoday.com/2020/03/03/thyssenkrupp-sells-elevator-technology-business-for-e17-2-billion/" target="_blank">
							<img class="img-fluid" src="/assets/images/news/thyssen-logo.jpg" alt="">
						</a>
						<h4 class="text-left mt-20"><a href="https://elevatortoday.com/2020/03/03/thyssenkrupp-sells-elevator-technology-business-for-e17-2-billion/" target="_blank">ThyssenKrupp sells Elevator Technology business for €17.2 billion</a></h4>
						<p class="text-left">ThyssenKrupp sells its Elevator Technology business entirely to a consortium led by Advent, Cinven and RAG foundation for €17.2 billion. </p>
						<ul class="text-left fs-12 list-inline list-separator">
							<li>
								<i class="fa fa-calendar"></i>
								17th Feb 2020
							</li>
						</ul>
					</div>

					<div class="img-hover">
						<a href="https://elevatortoday.com/2018/02/26/elevator-door-advertising/" target="_blank">
							<img class="img-fluid" src="/assets/images/news/advertLobster-logo.jpg" alt="">
						</a>
						<h4 class="text-left mt-20"><a href="https://elevatortoday.com/2018/02/26/elevator-door-advertising/" target="_blank">Elevator Door Advertising</a></h4>
						<p class="text-left">Schindler Elevator has recently introduced a new advertisement solution for your elevator doors. A short-distance projector located above elevator doors in a custom enclosure, animates your messages on the outside of the elevator doors.</p>
						<ul class="text-left fs-12 list-inline list-separator">
							<li>
								<i class="fa fa-calendar"></i>
								26th Jan 2020
							</li>
						</ul>
					</div>

				</div>
			</div>
		</section>
		<!-- /News -->
		
		<!-- Clients -->
		<section id="clients" class="dark"> 
			<div class="container ">
				<a id="clients-nav" class="hidden-anchor"></a>
				<div class="heading-title heading-dotted text-center">
					<h2>Some Of Our Customers</h2>
				</div>
				<ul class="row clients-dotted list-inline">

					<li class="col-md-3 col-sm-3 col-6">
						<a href="https://codeboxx.biz/" target="_blank">
							<img class="img-fluid" src="/assets/images/brands/codeboxx.png" alt="client" />
							<h4>CodeBoxx </h4>
						</a>
					</li>

					<li class="col-md-3 col-sm-3 col-6">
						<a href="https://www.quebon.ca/"target="_blank">
							<img class="img-fluid" src="/assets/images/brands/quebon.png" alt="client" />
							<h4>Québon </h4>
						</a>
					</li>

					<li class="col-md-3 col-sm-3 col-6">
						<a href="https://www.tesla.com/"target="_blank">
							<img class="img-fluid" src="/assets/images/brands/tesla.png" alt="client" />
							<h4>Tesla </h4>
						</a>
					</li>

					<li class="col-md-3 col-sm-3 col-6">
						<a href="https://www.audi.ca/"target="_blank">
							<img class="img-fluid" src="/assets/images/brands/audi.png" alt="client" />
							<h4>Audi </h4>
						</a>
					</li>

					<li class="col-md-3 col-sm-3 col-6">
						<a href="https://www.intel.ca/"target="_blank">
							<img class="img-fluid" src="/assets/images/brands/intel.png" alt="client" />
							<h4>Intel </h4>
						</a>
					</li>

					<li class="col-md-3 col-sm-3 col-6">
						<a href="https://www.fastly.com/"target="_blank">
							<img class="img-fluid" src="/assets/images/brands/fastly.png" alt="client" />
							<h4>Fastly </h4>
						</a>
					</li>

					<li class="col-md-3 col-sm-3 col-6">
						<a href="https://www.adobe.com/ca/"target="_blank">
							<img class="img-fluid" src="/assets/images/brands/adobe.png" alt="client" />
							<h4>Adobe </h4>
						</a>
					</li>

					<li class="col-md-3 col-sm-3 col-6">
						<a href="https://www.oracle.com/"target="_blank">
							<img class="img-fluid" src="/assets/images/brands/oracle.png" alt="client" />
							<h4>Oracle </h4>
						</a>
					</li>

					<li class="col-md-3 col-sm-3 col-6">
						<a href="https://i.pinimg.com/originals/24/5a/e1/245ae17922e87954167a22bb77addf89.jpg"target="_blank">
							<img class="img-fluid" src="/assets/images/brands/batman.png" alt="client" />
							<h4>The One And Only Batman</h4>
						</a>
					</li>

					<li class="col-md-3 col-sm-3 col-6">
						<a href="https://www.youtube.com/"target="_blank">
							<img class="img-fluid" src="/assets/images/brands/youtube.png" alt="client" />
							<h4>Youtube </h4>
						</a>
					</li>

					<li class="col-md-3 col-sm-3 col-6">
						<a href="https://www.budlight.ca/"target="_blank">
							<img class="img-fluid" src="/assets/images/brands/budlight.png" alt="client" />
							<h4>Budlight </h4>
						</a>
					</li>

					<li class="col-md-3 col-sm-3 col-6">
						<a href="https://www.adidas.ca/"target="_blank">
							<img class="img-fluid" src="/assets/images/brands/adidas.png" alt="client" />
							<h4>Adidas </h4>
						</a>
					</li>

				</ul>
			</div>
		</section>
		<!-- /Clients -->
		
		<!-- CONTACT -->
		<section id="contact"> 
			<div class="container">
				<a id="contact-nav" class="hidden-anchor-contact"></a>
				<header class="text-center mb-60">
					<h2>Contact Us</h2>
					<p class="lead font-roboto fs-20">You won't regret it!</p>
					<hr />
				</header>
				<div class="row">
					<!-- FORM -->
					<div class="col-md-8 col-sm-8">
						<h3>Send us an E-mail</h3>
						<form >
							<fieldset>
								<div class="row">
										<div class="col-md-4">
											<label for="contact:name">Full Name *</label>
											<input id="name" class="form-control">
										</div>
										<div class="col-md-4">
											<label for="contact:email">E-mail *</label>
											<input id="email" class="form-control">
										</div>
										<div class="col-md-4">
											<label for="contact:phone">Phone Number *</label>
											<input id="phone" class="form-control">
										</div>
										<div class="col-md-4">
											<label for="contact:name">Company Name *</label>
											<input id="company_name" class="form-control">
										</div>
										<div class="col-md-4">
											<label for="contact:phone">Project Name *</label>
											<input id="project_name" class="form-control">
										</div>
										<div class="col-md-8">
											<label for="contact:subject">Project Description *</label>
											<input id="project_description" class="form-control">
										</div>
										<div class="col-md-4">
											<label for="contact_department">Department *</label>
												<select id="department" class="form-control" >
												<option value="">--- Select ---</option>
												<option value="Project">Project</option>
												<option value="Careers">Careers</option>
												<option value="Partners">Partners</option>
												<option value="Marketing">Marketing</option>
												<option value="Miscellaneous">Miscellaneous</option>
											</select>
										</div>
								</div>
								<div class="row">
										<div class="col-md-12">
											<label for="contact:message">Message *</label>
											<textarea id="message" required maxlength="10000" rows="8" class="form-control" name="contact[message]" ></textarea>
										</div>
								</div>
								<div class="row">
										<div class="col-md-12">
											<label for="contact:attachment">File Attachment</label>
											<!-- custom file upload -->
											<input class="custom-file-upload" type="file" id="attachment" id="file" name="contact[attachment]" id="contact:attachment" data-btn-text="Select a File" />
											<small class="text-muted block">Max file size: 10Mb (zip/pdf/jpg/png)</small>

										</div>
								</div>
							</fieldset>
						</form>
						<div class="row">
							<div class="col-md-12">

								<button onclick="alertify.alert('Rocket Elevators','Successfully Sent!')"  class="btn btn-default "><i class="fa fa-check"></i> SEND MESSAGE</button>
							</div>
						</div>
					</div>
					<!-- /FORM -->
					<!-- INFO -->
					<div class="col-md-4 col-sm-4">
						<h2>Visit Us</h2>
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2729.0429937848103!2d-71.28188348414717!3d46.8428435484159!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cb897d0e1cafe3f%3A0x9863b2d992c71670!2sCodeBoxx!5e0!3m2!1sen!2sca!4v1610566845891!5m2!1sen!2sca" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
						<p>
							<span class="block"><strong><i class="fa fa-map-marker"></i> Address:</strong>418-725 Boulevard Lebourgneuf, Québec, QC G2J 0C4, Canada</span>
							<span class="block"><strong><i class="fa fa-phone"></i> Phone:</strong> <a href="tel:(418) 555-1234">(418) 555-1234</a></span>
							<span class="block"><strong><i class="fa fa-envelope"></i> Email:</strong> <a href="mailto:info@codeboxx.biz">info@codebox.biz</a></span>
						</p>
					</div>
					<!-- /INFO -->
				</div>
			</div>
		</section>
		<!-- /CONTACT -->
		


		<!-- JAVASCRIPT FILES -->
		<script>var plugin_path = '/assets/plugins/';</script>
		<script src="/assets/plugins/jquery/jquery-3.3.1.min.js"></script>
		<script src="/assets/js/scripts.js"></script>

		<!-- REVOLUTION SLIDER -->
		<script src="/assets/plugins/slider.revolution/js/jquery.themepunch.tools.min.js"></script>
		<script src="/assets/plugins/slider.revolution/js/jquery.themepunch.revolution.min.js"></script>
		<script src="/assets/js/view/demo.revolution_slider.js"></script>

		<!-- PAGELEVEL SCRIPTS -->
		<script src="/assets/js/contact.js"></script>
		<!-- JavaScript -->
		<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>

		<!-- CSS -->
		<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
		<!-- Default theme -->
		<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>
		<!-- Semantic UI theme -->
		<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/semantic.min.css"/>
		<!-- Bootstrap theme -->
		<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/bootstrap.min.css"/>
	</body>
</html>