<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Rocket Elevators Request Quote Request Form</title>
	<meta name="description" content="Quote Request Form" />
	<meta name="Author" content="Tommy C" />

	<!-- mobile settings -->
	<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
	<!--[if IE
      ]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"
    /><![endif]-->

	<!-- WEB FONTS : use %7C instead of | (pipe) -->
	<link
		href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600%7CRaleway:300,400,500,600,700%7CLato:300,400,400italic,600,700"
		rel="stylesheet" type="text/css" />

	<!-- CORE CSS -->
	<link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<!--MATERIAL-->
	<link href="assets/plugins/mdl/material.indigo-blue.min.css" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

	<!-- THEME CSS -->
	<link href="assets/css/essentials.css" rel="stylesheet" type="text/css" />
	<link href="assets/css/layout.css" rel="stylesheet" type="text/css" />
	<link href="assets/css/layout-dark.css" rel="stylesheet" type="text/css" />

	<!-- PAGE LEVEL SCRIPTS -->
	<link href="assets/css/header-1.css" rel="stylesheet" type="text/css" />
	<link href="assets/css/color_scheme/lightgrey.css" rel="stylesheet" type="text/css" id="color_scheme" />

	<script src="assets/js/quote.js"></script>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

	<!--Favicon need to make it prettier-->
	<link href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAAHgAAAB4CAYAAAA5ZDbSAAAABGdBTUEAALGPC/xhBQAAAAFzUkdC
				AK7OHOkAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAAAZiS0dE
				AP8A/wD/oL2nkwAAAAlwSFlzAAAuIwAALiMBeKU/dgAADbBJREFUeNrtnXlsHNUdxz9vdm0nMcG5
				OUIJ4ILjXDgJCUm40jRJQwQFcpCWG5FeokqRqrZSq6qiVUWrqqpKOYSIUKgQV5xAW06n5GiJE+cg
				R4NJICeBAIGQA8fX7r5f//jt2utrHdsz9nh2vtLYq9nZ2bfzfb/j/d7M9xl6EfIXL2tttwEKgDHA
				DGAk8HPgI4DTS+9pOFBG3Z16+QAwAXgF2Jw8NtbixJVP9/RP7jKiPd2A9tAGqQ4wBBgFXJvcxgDD
				gL3J9zPhHOBOYB5wANgIrAU2AYeBWmjSIYDeSbgvCW6D1BzgXKAE+AZwFVAEnI1acQrSka9CO8YY
				4C7gY2ArsAbYgHaWqtQ50wnvLWT7kuA05AEjgMkoqVOAi4G+HnxXbvLcF6OWfRTYCawD/gNUAsdp
				hWzwL+E9RnAbVgrQH/g6MA2YDkwEhqMEdBcc1FucC8wCTgDvAW+jhG9HO0C8my9bh9FtBGcg1AEG
				ovH0GjSeXg4MBSI9e3kAdf8D0Q43Dbgf2Ie68KXAlp5uYCZ0G8GpbDZJdBRNdC4HrkOJLUazYdOZ
				83cj8oFxye0Q2UZwBkvNAy4AJqGudypQiF6wEB7BNYLbIDYfJXEKmiRNAr5G98bTrEanCc4wPi1A
				iw1Xo5Zago5Pezxjlw6NoIKBM77oGVxvBE2IxtEYT0cBg/BZPBXxL8Gxkbc1vI7m9Wl4bXY81aXz
				ZiQ4A6m56NBlAup6p6FDm7PwGanpsD4mOK34Fk3U1ScAsUD9yDsajsjd/UyHz9qC4Ayk9kWLAOnx
				dATQh14DPxMsYDE4LBIoEq2m7TLIMcDiCLFR30U7gpBT+ewZnTUKGUktQMuBV6HudwJwHj6Ip527
				hP4lWJBUA0cBvxT4CbBHhLcxrMOyzRiOiNh4QizVRYsaPttvzwttnjfajNwIMBitzV6LxtOxyX3t
				FfB9Dz+7aCuSMs4Uzka95CSEHwAHRXRSxMHZJMghx8RrhQj1xXeQkHhDjpFOeDS5nQ+MR630ahqL
				+IGC7wluA8bQD7XsUegs2MfAVmuja8RIuZXY3giJqoREBKC2aCF99iwHlNxHUVK9KuL7CP4lOFPb
				mnGfA1yU3G4W4QtgexznQZANYEhIY54bBW5BhzmBh/UxwZ1sWwQt+c4EngfZYGjaVaKA7ekf123w
				sYvuYtuE1DQmlvSRaq/MhjsL6+O+7G7bGjtLVhEcXANuG9lFsI9jsFdtyyqCe+swqSvIKoJDCw44
				xMdJlldtyy6CfeyivWpbVhEcxuCAI4zBAUdIcMARxuCAI7TggCO04IAjgNOF7SKrCA4tOOAILTjw
				8C/BXrUtqwgW8XEt2qO2ZRXBYaky4PAvvd61LcsI9i/FYaHDBVgfx2Cv2pZVBPvYgD1rW1YRHN7R
				EXCEhY6AIyxVBhyhBXuDL1GFuAPo46mj6CGVndCC3UMcJfQ1YCXwDlCNPoc8A1iA6noM9uj724B/
				Ce4tteivUOW3l4DXgYM01XP8CPg7SvoEYD4wB7jEg7a0QFiq7GTb0CfOy1DiNqCqrJlQhSq4lgN/
				Q0m+BZUs6O/JLyWsZHUGnwGPAP8A9gD16W+mq62nI00XJI5qMj8CPIPKG96Lyvm6LkTqVZwzBrYM
				m8gVR7d26vObh01MibCAy766qwRXAn8BTqfvPL30HvIXL8uk3tMaTqBuvRa4HtXcchUeZKpRiSQw
				8QjWCJuGjW94DnTy59szfnDz0BK2jB7NxMpKxAjWAmIMjrgaqtxQzml4nLyZomz6+0OAy2hDU6uZ
				pXvmR0XE7e12Es6vxNhxRiQXEWy0D2CoGFpCxdCSFm1I7RdjlFwRsDZPjIwXx/5GRBa40bYUXO0t
				zYiNosnTXDRrvhCNuy8C69Hhk7TyOc/gQZwrRPgt8COQMjClJla7wVo5joHcHNgwdCymPhfpEwcr
				WAQjIFaMMWYQhqsEWYAwE9XbSLjZQC8y15S+03zU1Z6Pxtn3gG+hydQ2NCF7Lfletyinux6DDctQ
				zeh5wB0g3wE2EWGFiLxRG5cDYOJTT26Fk1A+ZBwgOUChccxcQeahivYOyE404SxGuNOtJrqVRTuo
				TPBM4FZU7tCgGfXvgVXAMWA0cDNwE/AQsASNu8vR4dUpdxloCtctWNgXkegfEk78KYTpqKe6DuEa
				GusAK8qHjH0neT2uAFkA5noRuRD1Yv8CSjGsq5eaz3Lp+zs3m9hVgnNQMmehpBUCnwDPAqXomkSn
				oCHxqkjuexyYDSwEbgduAyqA52iWibsJD5Ks/tapiyLmSA65z8Yl9jKYEjFyC/Bt4H6Qu9CO7oBM
				BfoJ8j7wJyPmJZAdBlNrEaLk5lnE1WFiVwkuQa2vD+p2n0R77X4aF5rqD0zKX7xsBDru3Qd8iK53
				8CJwBerO5wKPASfxSJDNg2HSfQjnAaV11G0Ee9wxTrmBCot5DJiNMB/V+rTAegzLgbccIx8JJKxY
				A85gI2YasBBkjpsNdMNFvwm8gNabjyX3pVz2N1GXfRU67DmEdoBSdH2iU8BqNPn6Kxqzb0cFxF2H
				B0lWHLgJ5Fb9PWa5FXldDAcRORAh+oQV+zzIRCAB5h2ErzCWOESNcBmYucACQcYD1SCuerCuErwN
				XYUkVbnqiwqD34S6qCJ0XJuy3OnAD1G9xfUo0f9GS5jvJ7c9yf2ur+XgwaT6U2DeABaA3IjwZ+AB
				hFeAlXFi2/rGoiercxOrQTin6iyO5p8+2wgTEeaLeq3zQQ5izKPASo3R/NStBnaV4BgaM4ei5C1E
				taQHoUvELQVWoHG3CrXqWXpBuDr5+n3gn8DLaIepxqOxsAeFrBqQcsFUGHgUYTaGhcB9AncbpLw6
				J/YiwmrAfJZfNcvAQouZmiweVCA8hGGVCIcdQ0KEG9xsYFcJHgL8DHWtJWic2YaS+ipqtemLPh5E
				4/QLNA6l5gK/AL6HZtuH8Ei62Ksb2/o40USVie2b9esPHl/74MjngMkCCxGZIxqm9id/08XAp2Ia
				k9Di4xNO7Rq8hXzTl5pELbismN9VglPr/h1Fk61S1PV+QWYrPAW8hcbeh1GS56OuPc/tH5mCVwX9
				Ghsjz0RZ92AxAicstsyIWWtFLgVuwJibgQQiT4rhVSNmnzUSc3DYPWgbuRKh2tZ40rauEnwMeAIt
				WlQCdc0PaG3CIa1yFQN2J7en0WTsXuBGPJhs8GJKziT/1NkIs07sYs3AomTvlHpxnHcxphKbWAoI
				kchxRMQABoMgTP9yN6sGjMEx8VQI8dVkw7vAH9H42gRtzSSlv9esRHkMjcVfoQUT1ycbPAjtURGL
				SBRMDWUFhcRsnNkn97F6YBFGtCZJanRhE4BBgBnH91BWUEhZQSHG1GKtARMxhrir1cWunqzJFctE
				amtIPz6NbE8nG1zGIsFUQ/w1xNkrJhETgTcLLgEEK5aZJ/Y2+cCqAYUghrIBhY0KszaSA4kixN6A
				VvpcQ3jTXdcwGvVgPwZbhphSA5sEORmzWl5XsnXOGDQPcBKGA8OPMuLToQOAqYKdD8wGGS4uJ5hZ
				RbAnSZYQwXAR8H1gEUIFhhWCrBKRD4EECIghqcYetREZceGnQ+aIyDxM2l0sguvpZXYR7NU9WY2n
				LUDLkzOAD4BXBV4Gsw0wAhMNzBOR69G6faRFn3O5iVlFcDfedBfFUIyu4XiPEdYDETFME12L2HTX
				7WFZRXC33jarX2WAIaLj+x65azerCPbzXZVeIasI9vN90V4hqwj286MrXiGrCPbzw2deIasIDmNw
				0BG66GAjdNEBh5+V7rxCVhGcffRmGcHhMCngCLPogCMkOOAIXXTAEWbRAUc4Dg44whgccIQxOOAI
				LTjgCC044AiTrIAjtOCAI4zBAUdIcMARuuiAIyQ44LBZOOWfVQSHMTjgCF10wJF99HokVxTCPwgJ
				DjhCggOOkOCAw8EjVbkQ3Y5WeXTQFVOyrwIQLNTRisog6DDpXlSUeyowFrgAlQUOLdu/SACfo+td
				bEYV5de2dmAUWJfc8oDzUGWYK4HJqNDXObSxHE6IboNF15Xaj6r5lgPbUfXeUzTzwEvSXqcXOuqS
				HziIqrj3A4ajVj0Flf+9DJUQzunpXxxwCKr/eQjYiVroVlSe+UvaWKVmSSv7os31JZOakYLG5pQK
				+0p0uZwRqC70VJTwE2RngcgLVANHgF3oAiWbUPX7ozTV3G6CJe2ctEWpMoNA6Em0N+1EV1UZCAxA
				JftDdBx1KHm7UTI3opLMnwCtike3R2ZryFiLbsO6QV3E58mt1WNDtEACFUr/AHW3G1BjOUwrcszQ
				OUKbo0OTDSGJHYJFvV4qMdqQ/H8QTYxaXcLODVLTkVWzSR4jlbekEqON6Gpue1FB8ITb5J0J/Eiw
				ofeMwWvQxOhdNDGqoDExarH+0cPJ/91JtB8JPo5esGJU1t9PZNeji2LvQQsMG5Nt/QTNglugJ6w2
				HX4k+H/oCqVFNBZcxqBj8n7d3JYE6l5TidFGYAeNiZH0NIHtwY8EJ1C3dwRYg5ZNz0Wralei4+9i
				tMKW5/J3pydGO2hMjPbTRmL0MD1vpZngG4IzZOg1wIH8xcsOAK+gbvsCdAm9Kej6u5fSWGHriEu3
				qCUeRhOjTajrTSVGcT+TdybwDcGZ0Gz5nSoa11oqRYstl6LWPQNdVq891KKW+RbwXzQsHKGVGRm/
				W2h7+D8Q6qH1imBJUgAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAyMS0wMS0xMVQyMToyMjowMi0wNTow
				MPPhrmoAAAAldEVYdGRhdGU6bW9kaWZ5ADIwMjEtMDEtMTFUMjE6MjI6MDEtMDU6MDCzVAxLAAAA
				AElFTkSuQmCC" rel="icon" type="image/x-icon" />

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body class=" enable-animation bg-grey">
	<!-- wrapper -->
	<div id="wrapper">

		<!-- HEADER -->
		<!-- SEE THE FILE: application.html.erb FOR <%= render "main/header"%> -->
		<!-- /END HEADER -->

		<section class="page-header dark">
			<div class="container text-center">
				<h1 class="fw-800 fs-60 font-latoo">Request A Quote</h1>
			</div>
		</section>
		<!-- /PAGE HEADER -->

		<script>
			$('document').ready(function () {
				$("select").change(function () {
					getBuildingType();
				});
			});
		</script>

		<section >
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-xs-6">&nbsp;</div>
					<div class="col-md-4 col-xs-6">
						<!--First Selection, Building Type -->
						<select id="building-type" class="form-control">
							<option value="">Please Select a building type</option>
							<option value="residential">Residential</option>
							<option value="commercial">Commercial</option>
							<option value="corporate">Corporation</option>
							<option value="hybrid">Hybrid</option>
						</select>
					</div>
					<div class="col-md-2 col-xs-4">&nbsp;</div>
					<div class="col-md-2 col-xs-4">&nbsp;</div>
				</div>

				<div class="row hidden-sm-down">
					<div class="col-md-2 col-xs-4">&nbsp;</div>
					<!--Line Separator-->
					<div class="col-md-8 col-xs-12"> <hr /></div>
					<div class="col-md-2 col-xs-4">&nbsp;</div>
				</div>

				<div class="row">
					<div class="col-md-4 col-sm-4">&nbsp;</div>
					<div class="col-md-4 col-sm-4">
						<!--Questions-->
						<div id="questionInput">
							<div id="number-of-apartments" class="hidden">
								<label for="number-of-apartments" id="number-of-apartmentsLabel">Enter The Number Of Appartments</label>
								<input id="numberOfApartmentsInput" placeholder="Number Of Appartments" class="form-control" type="number"
									maxLength="5" min="0" max="1000" />
							</div>
							<div id="number-of-floors" class="hidden">
								<label for="number-of-floors" id="number-of-floorsLabel">Enter The Number Of Floors</label>
								<input id="numberOfFloorsInput" placeholder="Number Of Floors" class="form-control" type="number"
									maxLength="5" min="0" max="1000" />
							</div>
							<div id="number-of-basements" class="hidden">
								<label for="number-of-basements" id="number-of-basementsLabel">Enter The Number Of Basements</label>
								<input id="numberOfBasementsInput" placeholder="Number Of Basements" class="form-control" type="number"
									maxLength="5" min="0" max="1000" />
							</div>
							<div id="number-of-companies" class="hidden">
								<label for="number-of-companies" id="number-of-companiesLabel">Enter The Number Of Companies</label>
								<input id="numberOfCompaniesInput" placeholder="Number Of Companies" class="form-control" type="number"
									maxLength="5" min="0" max="1000" />
							</div>
							<div id="number-of-parking-spots" class="hidden">
								<label for="number-of-parking-spots" id="number-of-parking-spotsLabel">Enter The Number Of Parking Spots</label>
								<input id="numberOfParkingSpotsInput" placeholder="Number Of Parking Spots" class="form-control" type="number"
									maxLength="5" min="0" max="1000" />
							</div>
							<div id="number-of-elevators" class="hidden">
								<label for="number-of-elevators" id="number-of-elevatorsLabel">Enter The Number Of Elevators</label>
								<input id="numberOfElevatorsInput" placeholder="Number Of Elevators" class="form-control" type="number"
									maxLength="5" min="0" max="1000" />
							</div>
							<div id="number-of-corporations" class="hidden">
								<label for="number-of-corporations" id="number-of-corporationsLabel">Enter The Number Of Corporations</label>
								<input id="numberOfCorporationsInput" placeholder="Number Of Corporations" class="form-control" type="number"
									maxLength="5" min="0" max="1000" />
							</div>
							<div id="maximum-occupancy" class="hidden">
								<label for="maximum-occupancy" id="maximum-occupancyLabel">Enter The Number Of Occupants Per Floors</label>
								<input id="maximumOccupancyInput" placeholder="Number Of Occupants Per Floors" class="form-control"
									type="number" maxLength="5" min="0" max="1000" />
							</div>
							<div id="business-hours" class="hidden">
								<label for="business-hours" id="business-hoursLabel">Enter The Number Of Hours</label>
								<input id="businessHoursInput" placeholder="Number Of Hours" class="form-control" type="number"
									maxLength="2" min="0" max="24" />
							</div>
						</div>
					</div>
				</div>

				<script>
					//on keypress, give values to calc functions
					$("#questionInput :input").bind(
						"keypress keydown keyup change",
						function () {
							//can't have more than 24h big boy
							if (parseFloat($(':input[id="businessHoursInput"]').val(), 10) > 24) {
								$("#businessHoursInput").val(24);
							};
							switch (type) {
								case "residential":
									var apts = parseFloat($(':input[id="numberOfApartmentsInput"]').val(),10),
										floors = parseFloat($(':input[id="numberOfFloorsInput"]').val(),10),
										basements = parseFloat($(':input[id="numberOfBasementsInput"]').val(),10);
									if (!isNaN(apts) && !isNaN(floors)) {
										calcResidential(apts, floors);
									}
									break;
								case "commercial":
									var 									
										floors = parseFloat($(':input[id="numberOfFloorsInput"]').val(),10),
										basements = parseFloat($(':input[id="numberOfBasementsInput"]').val(),10),
										companies = parseFloat($(':input[id="numberOfCompaniesInput"]').val(),10),
										parkingSpots = parseFloat($(':input[id="numberOfParkingSpotsInput"]').val(),10),
										elevators = parseFloat($(':input[id="numberOfElevatorsInput"]').val(),10);									
									 if (									 	  
									 	!isNaN(elevators)
									 ) {
										$("#estimatedElevators").val(elevators);
  										$("#estimatedColumns").val(elevators);
									}
									break;

								case "corporate":
									var maxOccupancy = parseFloat($(':input[id="maximumOccupancyInput"]').val(),10),
										floors = parseFloat($(':input[id="numberOfFloorsInput"]').val(),10),
										basements = parseFloat($(':input[id="numberOfBasementsInput"]').val(),10),
										corporations = parseFloat($(':input[id="numberOfCorporationsInput"]').val(),10),
										parkingSpots = parseFloat($(':input[id="numberOfParkingSpotsInput"]').val(),10);
									if (
										!isNaN(maxOccupancy) &&
										!isNaN(floors) &&
										!isNaN(basements) 
									) {
										calcCorpoHybrid(maxOccupancy, floors, basements);
									}
									break;
								case "hybrid":
									var maxOccupancy = parseFloat($(':input[id="maximumOccupancyInput"]').val(),10),
										floors = parseFloat($(':input[id="numberOfFloorsInput"]').val(),10),
										basements = parseFloat($(':input[id="numberOfBasementsInput"]').val(),10),
										companies = parseFloat($(':input[id="numberOfCompaniesInput"]').val(),10),
										businessHours = parseFloat($(':input[id="businessHoursInput"]').val(),10),
										parkingSpots = parseFloat($(':input[id="numberOfParkingSpotsInput"]').val(),10);
									if (
										!isNaN(maxOccupancy) &&
										!isNaN(floors) &&
										!isNaN(basements) 
									) {
										calcCorpoHybrid(maxOccupancy, floors, basements);
									}
									break;
								default: hideQuestions();
									break;
							}
							//price();
							price($("#lineSelection input[type=radio]:checked").val());
						}
					);
				</script>
				<!-- End of auto submit-->
	<div class="col-md-4 hidden-sm-down">&nbsp;</div>
	</div>

	<!--New Row-->
	
	<div class="row hidden-sm-down">
		<div class="col-md-1 ">&nbsp;</div>
		<div class="col-md-3 ">
			&nbsp;
			<!-- <label for="estimatedColumns" class="text-right">Recommended Number Of Columns&nbsp;</label> -->
		</div>

		<div class="col-md-3">&nbsp;</div>
		<div class="col-md-3">&nbsp;</div>
		<div class="col-md-2">&nbsp;</div>

	</div>


	<div class="row ">
		<div class="col-md-2">&nbsp;</div>
		<div class="col-md-2 ">

			&nbsp;
			<!-- <form> 
				<div id="elevator-amount" class="fancy-form ">
					<i class="fa fa-angle-double-right"></i>
					<input readonly id="estimatedColumns" class="form-control" value="">
				</div>
			</form> -->
		</div>
		<div class="col-md-1 hidden-sm-down">&nbsp;</div>
		<div class="col-md-2">

			<form> <!--Estimated Elevators Form-->
				<div id="elevator-amount" class="fancy-form ">
					<label for="estimatedElevators" class="text-center">Number Of Elevators&nbsp;</label>
					<input readonly id="estimatedElevators" class="form-control" value="">
				</div>
			</form>

			<!-- <element class="sky-form">
				  <element class="input">					  
					<input readonly id="estimatedElevators" value="">
				  </element>
			</element> -->
		</div>
		<div class="col-md-1 hidden-sm-down">&nbsp;</div>

		<div class="col-md-2">
			<label for="lineSelection" class="text-center">Select Your Product Line&nbsp;</label>
			<form id="lineSelection">
				<label class="checkbox ">
					<input type="radio" id="standard" name="radio-btn" value="Standard">
					<i></i> Standard
				</label>
				<br>
				<label class="checkbox">
					<input type="radio" id="premium" name="radio-btn" value="Premium">
					<i></i> Premium
				</label>
				<br>
				<label class="checkbox">
					<input type="radio" id="excelium" name="radio-btn" value="Excelium">
					<i></i> Excelium
				</label>
			</form>

			<script>//On product line click calc price
				$('#lineSelection input[type=radio]').change(function () {
					price($('#lineSelection input[type=radio]:checked').val());
				});
			</script>
		</div>
		<div class="col-md-2">&nbsp;</div>
	</div>

	<div class="row hidden-sm-down">
		<div class="col-md-2">&nbsp;</div>
		<div class="col-md-2">&nbsp;</div>
		<div class="col-md-2">&nbsp;</div>
		<div class="col-md-2">&nbsp;</div>
		<div class="col-md-2">&nbsp;</div>
		<div class="col-md-2">&nbsp;</div>
	</div>

	<!--Cost Related Label/Text-->

	<div class="row hidden-sm-down">
		<div class="col-md-2">&nbsp;</div>
		<div class="col-md-2">&nbsp;</div>
		<div class="col-md-2">&nbsp;</div>
		<div class="col-md-2">&nbsp;</div>
		<div class="col-md-2">&nbsp;</div>
	</div>
	<!--/Cost Related Label/Text-->

	<!--Price Estimate Forms-->
	<div class="row">
		<div class="col-md-2">&nbsp;</div>
		<div class="col-md-2">
			<div id="elevator-unit-price" class="fancy-form ">
				<label for="elevatorUnitPrice" class="text-center bold">Elevator Unit Price</label>
				<input readonly id="elevatorUnitPrice" class="form-control" value="">
			</div>
		</div>
		<div class="col-md-2">
			<div id="elevator-total-price" class="fancy-form ">
				<label for="elevatorPrice" class="text-center bold">Elevator Cost</label>
				<input readonly id="elevatorPrice" class="form-control" value="">
			</div>
		</div>

		<div class="col-md-2">
			<div id="installation-fees" class="fancy-form ">
				<label for="installationPrice" class="text-center bold">Installation Cost</label>
				<input readonly id="installationPrice" class="form-control" value="">
			</div>
		</div>

		<div class="col-md-2">
			<div id="final-price" class="fancy-form ">
				<label for="totalPrice" class="text-center bold">Total Cost</label>
				<input readonly id="totalPrice" class="form-control" value="">
			</div>
		</div>

	</div>
	<!--/Price Estimate Forms-->

	
	<!--Placeholder-->
	<div class="row hidden-sm-down">
		<div class="col-md-2">&nbsp;</div>
		<!--A beautiful line-->
		<div class="col-md-8"> <hr /></div>
		<div class="col-md-2">&nbsp;</div>
	</div>
	<div class="row grid-color">
		<div class="col-md-4">&nbsp;</div>
		<div class="col-md-4">&nbsp;
		<img src="assets/images/R2.png" class="img-fluid">

		</div>
		<div class="col-md-4">&nbsp;</div>
	</div>
	<div class="row hidden-sm-down">
		<div class="col-md-4">&nbsp;</div>
		<div class="col-md-4">&nbsp;</div>
		<div class="col-md-4">&nbsp;</div>
	</div>
	<div class="row hidden-sm-down">
		<div class="col-md-4">&nbsp;</div>
		<div class="col-md-4">&nbsp;</div>
		<div class="col-md-4">&nbsp;</div>
	</div>
	</div>
	</div>

</div>


	</section>

		<!-- FOOTER -->
		<!-- SEE THE FILE: application.html.erb FOR <%= render "main/footer"%> -->
		<!-- /END FOOTER -->
		
	</div>
	<!-- /wrapper -->

	<!-- PRELOADER -->
	<div id="preloader">
		<div class="inner">
			<span class="loader"></span>
		</div>
	</div>
	<!-- /PRELOADER -->

	<!-- JAVASCRIPT FILES -->
	<script>
		var plugin_path = "assets/plugins/";
	</script>
	<script src="assets/plugins/jquery/jquery-3.3.1.min.js"></script>

	<script src="assets/js/scripts.js"></script>

	<!-- REVOLUTION SLIDER -->
	<script src="assets/plugins/slider.revolution/js/jquery.themepunch.tools.min.js"></script>
	<script src="assets/plugins/slider.revolution/js/jquery.themepunch.revolution.min.js"></script>
	<script src="assets/js/view/demo.revolution_slider.js"></script>

	<!-- PAGELEVEL SCRIPTS -->
	<script src="assets/js/contact.js"></script>

	<!-- JavaScript -->
	<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>

	<!-- CSS -->
	<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css" />
	<!-- Default theme -->
	<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css" />
	<!-- Semantic UI theme -->
	<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/semantic.min.css" />
	<!-- Bootstrap theme -->
	<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/bootstrap.min.css" />
</body>

</html>