<head>
  <style type="text/css">
    #map {
      height: 800px;
      width: 100%;
    }
  </style>

</head>
<body>

 <script>
    var buildings = <%= @buildings.html_safe %>;
    // var addresses = <%= @addresses.html_safe %>;

    function initMap() {
      map = new google.maps.Map(document.getElementById("map"), {
        center: { lat: 39.959, lng: -101 },
        zoom: 5,
      });



    buildings.forEach(obj => {
      var addressid = obj.address_id;
      // var address = addresses.find(id => addressid);
      var longitude = parseFloat(obj.longitude);
      var latitude = parseFloat(obj.latitude);
      console.log(longitude);

      var postion =

      new google.maps.Marker({
         position: {lat: latitude, lng: longitude},
         map,
         title: "Hey",
       });
    });

    // buildings.forEach(obj => {
    //     Object.entries(obj).forEach(([key, value]) => {
    //         console.log(`${key} ${value}`);
    //     });
    //     console.log('-------------------');
    // });

    // addresses.forEach(obj => {
    //     Object.entries(obj).forEach(([key, value]) => {
    //         console.log(`${key} ${value}`);
    //     });
    //     console.log('-------------------');
    // });

    // function getAddress() {
    //   console.log(building.id);
    // }


    // console.log(buildings);
    // console.log(Object.keys(addresses));

  }
  </script>
    <!--The div element for the map -->
  <div id="map"></div>
  <script
    src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLE_API']%>&callback=initMap&libraries=&v=weekly"
    async
  ></script>
</body>
