
<section class="dark">
<p id="notice"><%= notice %></p>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  <body>
    <h1 class="fw-800 fs-40 font-roboto" style="text-align: center">Speaker Identification</h1>

        <%= form_tag 'speech/identifySpeaker', multipart: true do %>
            <div class="row">
                <div class="col-md-12 col-sm-8">
                    <p>Audio File Attachment</p>
                        <input class="custom-file-upload" type="file" id="speakerid-attachment" name="speakerid-attachment" data-btn-text="Select a File" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-8">
                    <%= button_tag(type: 'submit', class: "btn-colored-message") do %> Send File <% end %>
                </div>
            </div>
        <% end %>
    
  </body>

</section>